:root {
    --container: 1080px;

    --page-background: #0D293D;
    --card-background: #3C3E44;
    
    --dark-green: #629F87;
    --light-green: #5DCAA4;
    --very-light-green: #9EDDC7;
    
    --main-white: #FAFBFB;
    --main-gray: #D1DBDC;
    --secondary-gray: #9E9E9E;

    --status-dead: #D90416;
    --status-alive: var(--light-green); 
    --status-unknown: var(--main-gray);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--page-background);
    color: var(--main-white);
  }
  